.loading {
  display: flex;
  padding: 50px 0;
  justify-content: center;
}

.mat-nested-tree-node-children {
  padding-left: 24px;
  overflow: hidden;
}

.mat-dialog-content {
  padding: 0 16px;
}

.mat-dialog-actions {
  margin-right: -8px;
}