.mat-tab-group {
  height: 100%;

  ::ng-deep {
    .mat-tab-header {
      display: none;
    }

    .mat-tab-body-wrapper {
      height: 100%;

      .mat-tab-body-content {
        display: flex;
        position: relative;
        flex-direction: column;
        overflow: hidden;
      }
    }
  }
}