$theme-colorful-primary:mat-palette($mat-blue);
$theme-colorful-accent:mat-palette($mat-amber, 300, 200, 400);
$theme-colorful-warn:mat-palette($mat-red);

$theme-colorful:mat-light-theme($theme-colorful-primary, $theme-colorful-accent, $theme-colorful-warn);

.theme-colorful {
  @include angular-material-theme($theme-colorful);

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-track-piece {
    background-color: map-get($mat-grey, 200);
  }

  ::-webkit-scrollbar-thumb {
    background-color: map-get($mat-grey, 400);

    &:hover {
      background-color: map-get($mat-grey, 500);
    }
  }

  .app-background {
    background-color: mat-color(map-get($theme-colorful, background), background) !important;
  }

  .app-background-card {
    background-color: mat-color(map-get($theme-colorful, background), card) !important;
  }

  .app-background-focus {
    background-color: mat-color(map-get($theme-colorful, background), hover) !important;
  }

  .app-background-primary {
    background-color: mat-color($theme-colorful-primary) !important;
  }

  .app-background-primary-alpha {
    background-color: rgba($color: mat-color($theme-colorful-primary), $alpha: .12) !important;
  }

  .app-background-accent {
    background-color: mat-color($theme-colorful-accent) !important;
  }

  .app-background-accent-alpha {
    background-color: rgba($color: mat-color($theme-colorful-accent), $alpha: .12) !important;
  }

  .app-background-warn {
    background-color: mat-color($theme-colorful-warn) !important;
  }

  .app-background-warn-alpha {
    background-color: rgba($color: mat-color($theme-colorful-warn), $alpha: .12) !important;
  }

  .app-foreground {
    color: mat-color(map-get($theme-colorful, foreground), text) !important;
  }

  .app-foreground-primary {
    color: mat-color($theme-colorful-primary) !important;
  }

  .app-foreground-secondary {
    color: mat-color(map-get($theme-colorful, foreground), secondary-text) !important;
  }

  .app-foreground-accent {
    color: mat-color($theme-colorful-accent) !important;
  }

  .app-foreground-warn {
    color: mat-color($theme-colorful-warn) !important;
  }

  .app-foreground-disabled {
    color: mat-color(map-get($theme-colorful, foreground), disabled-text) !important;
  }

  .app-layout {
    @extend .mat-app-background;

    .app-sidenav-container {
      .app-sidenav:not(.mat-drawer-end) {
        border-right-width: 0;

        .app-header {
          background-color: mat-color($mat-blue, 700);
          border-bottom-color: mat-color($mat-blue-gray, 900);
          color: mat-color($mat-gray, A100);
        }

        .app-body {
          background-color: mat-color($mat-blue-gray, 900);

          .app-menu {
            .app-menu-item {

              &:hover,
              &.focus {
                background-color: mat-color($mat-gray, 900);
              }

              &>a {
                color: mat-color($mat-gray, 400);
              }

              &.active>a {
                color: mat-color($mat-gray, A100);
              }
            }
          }
        }
      }

      .app-sidenav-content {
        .app-header {
          background-color: mat-color($mat-blue, 600);
          border-bottom-color: transparent;
          color: mat-color($mat-gray, A100);
        }

        .app-body {
          .ng-bar {
            background-color: mat-color($theme-colorful-accent);
          }
        }
      }
    }
  }
}
