<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav #$filter mode="over" position="end" autoFocus="false">
    <form autocomplete="off" [formGroup]="filter.form">
      <mat-form-field>
        <mat-label>{{ 'routes.basic.user.name' | translate }}</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'routes.basic.user.account' | translate }}</mat-label>
        <input matInput formControlName="account">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'routes.basic.user.role' | translate }}</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let item of roles" [value]="item.id">{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <button mat-flat-button color="primary"
      (click)="search();$filter.toggle()">{{ 'shared.operation.filter' | translate | uppercase }}</button>
    <button mat-stroked-button
      (click)="reset();$filter.toggle()">{{ 'shared.operation.reset' | translate | uppercase }}</button>
  </mat-sidenav>
  <mat-sidenav-content [loading]="loading">
    <div class="row-auto">
      <mat-toolbar *ngIf="selection.hasValue();else $toolbar" class="app-background-primary-alpha">
        <span class="spacer app-foreground-primary">{{ 'shared.data.selected' | translate : { len : selection.selected.length } }}</span>
        <button mat-icon-button matTooltip="{{ 'shared.operation.deletes' | translate }}" (click)="delete()">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-toolbar>
      <ng-template #$toolbar>
        <mat-toolbar class="app-background-card">
          <button mat-button color="primary"
            (click)="edit()">{{ 'shared.operation.add' | translate | uppercase }}</button>
          <button mat-button color="primary"
            (click)="refresh()">{{ 'shared.operation.reload' | translate | uppercase }}</button>
          <span class="spacer"></span>
          <button mat-icon-button matTooltip="{{ 'shared.operation.personalize' | translate }}" [matMenuTriggerFor]="$columns">
            <mat-icon>flip</mat-icon>
            <mat-menu #$columns>
              <table-column-pattern [columns]="columns"></table-column-pattern>
            </mat-menu>
          </button>
          <button mat-icon-button matTooltip="{{ 'shared.operation.filter' | translate }}" (click)="$filter.toggle()">
            <mat-icon>filter_list</mat-icon>
          </button>
        </mat-toolbar>
        <mat-divider></mat-divider>
      </ng-template>
    </div>
    <div class="row-fill">
      <table mat-table [dataSource]="rows" matSort (matSortChange)="refresh($event)">
        <ng-container [matColumnDef]="item.id" [ngSwitch]="item.id" *ngFor="let item of columns"
          [sticky]="item.sticky=='start'" [stickyEnd]="item.sticky=='end'">
          <ng-container *ngSwitchCase="'selection'">
            <th mat-header-cell *matHeaderCellDef>
              <table-row-selection [model]="selection" [data]="rows"></table-row-selection>
            </th>
            <td mat-cell *matCellDef="let row">
              <table-row-selection [model]="selection" [data]="row"></table-row-selection>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="'operation'">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button matTooltip="{{ 'shared.operation.edit' | translate }}" (click)="edit(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button matTooltip="{{ 'routes.basic.user.password' | translate }}"
                (click)="password(row.id)">
                <mat-icon>lock_open</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="'role'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="item.sortable===false">
              {{ 'routes.basic.user.role' | translate }}</th>
            <td mat-cell *matCellDef="let row"> {{ row.role | field : 'name' | join }} </td>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="item.sortable===false">
              {{ item.header | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row[item.id] }}</td>
          </ng-container>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns.display; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columns.display;"></tr>
        <tr class="mat-row" [hidden]="loading" *matNoDataRow>
          <td class="mat-cell no-data" [attr.colspan]="columns.length">{{'shared.data.empty' | translate}}</td>
        </tr>
      </table>
    </div>
    <div class="row-auto">
      <mat-divider></mat-divider>
      <mat-paginator [length]="total" [pageIndex]="pageIndex" [pageSize]="pageSize" (page)="refresh($event)">
      </mat-paginator>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
