.mat-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 8px;
  flex-direction: row-reverse;
  background-color: transparent;

  &+div {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row wrap;
    align-items: center;
    place-content: center;

    .mat-mdc-card {
      max-width: 480px;
      background-color: transparent;
      box-shadow: none;

      .mat-mdc-card-title,
      .mat-mdc-card-subtitle,
      .mat-mdc-card-footer {
        text-align: center;
      }

      .mat-mdc-card-title {
        margin-bottom: 24px;
        font-size: 24px;
      }

      .mat-mdc-card-content {
        margin: 24px 0;

        .mat-mdc-form-field {
          width: 100%;
        }

        .mat-mdc-button-base {
          width: 100%;
          height: 48px;
        }
      }
    }
  }
}

.mat-icon.flag {
  height: 20px;
  vertical-align: middle;
}