<form autocomplete="off" [formGroup]="form">
  <ng-container *ngFor="let item of fields | sort: 'order'">
    <ng-template [ngTemplateOutlet]="item.template" [ngTemplateOutletContext]="{ $implicit: form, form: form, field: item }" *ngIf="item.template;else $control"></ng-template>
    <ng-template #$control [ngSwitch]="item.type">
      <mat-form-field *ngSwitchCase="'text'">
        <mat-label>{{ item.label | translate }}</mat-label>
        <input matInput [formControlName]="item.id">
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'number'">
        <mat-label>{{ item.label | translate }}</mat-label>
        <input type="number" matInput [formControlName]="item.id" [min]="item.range && item.range[0]" [max]="item.range && item.range[1]">
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'select'">
        <mat-label>{{ item.label | translate }}</mat-label>
        <mat-select [formControlName]="item.id">
          <mat-option *ngFor="let i of item.range" [value]="i.id">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'multi-select'">
        <mat-label>{{ item.label | translate }}</mat-label>
        <mat-select [formControlName]="item.id" multiple>
          <mat-option *ngFor="let i of item.range" [value]="i.id">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'date'">
        <mat-label>{{ item.label | translate }}</mat-label>
        <input matInput readonly [formControlName]="item.id" [matDatepicker]="$picker">
        <mat-datepicker-toggle matSuffix [for]="$picker"></mat-datepicker-toggle>
        <mat-datepicker #$picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'date-range'">
        <mat-label>{{ item.label | translate }}</mat-label>
        <mat-date-range-input [rangePicker]="$picker">
          <input matStartDate readonly [formControlName]="item.id + 'From'" (focus)="$picker.open()">
          <input matEndDate readonly [formControlName]="item.id + 'To'" (focus)="$picker.open()">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="$picker"></mat-datepicker-toggle>
        <mat-date-range-picker #$picker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field *ngSwitchDefault>
        <mat-label>{{ item.label | translate }}</mat-label>
        <input matInput [formControlName]="item.id">
      </mat-form-field>
    </ng-template>
  </ng-container>
</form>
<button mat-flat-button color="primary" (click)="search()">{{ 'shared.operation.filter' | translate | uppercase }}</button>
<button mat-stroked-button (click)="reset()">{{ 'shared.operation.reset' | translate | uppercase }}</button>
