.mat-tooltip-panel {
  pointer-events: none !important;
}

.mat-tooltip {
  color: white;
  border-radius: 4px;
  margin: 14px;
  max-width: 250px;
  padding-left: 8px;
  padding-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-tooltip-handset {
  margin: 24px;
  padding-left: 16px;
  padding-right: 16px;
}
