:host {
  display: block;
  height: 100%;

  .mat-sidenav-container {
    height: 100%;

    .mat-sidenav {
      padding: 24px;
      width: 280px;

      .mat-form-field {
        width: 100%;
      }

      .mat-button-base {
        margin-top: 8px;
        width: 100%;
      }
    }

    .mat-sidenav-content {
      display: flex;
      flex-direction: column;

      .row-auto {
        flex: 0 0 auto;

        >.mat-toolbar {

          &+.mat-divider {
            margin-top: -1px;
          }

          >.spacer {
            flex: 1 1 auto;
            font-size: 14px;

            &:first-child {
              margin-left: 8px;
            }
          }

          >.mat-button-base {
            margin-left: 8px;

            &:first-child {
              margin-left: -8px;
            }
          }
        }
      }

      .row-fill {
        flex: 1 1 auto;
        overflow: auto;

        >.mat-table {
          width: 100%;

          th,
          td {
            padding-right: 56px;
            white-space: nowrap;

            &:first-child {
              padding-right: 24px;
              width: 16px;
            }

            &:nth-child(2) {
              width: 100%;

              &:not(th) {
                opacity: .7;
              }

              &.bold {
                font-weight: bold;
                opacity: 1;
              }
            }

            &:last-child {
              padding-right: 24px;
            }

            &.no-data {
              position: absolute;
              width: 100%;
              height: 48px;
              padding: 0;
              text-align: center;
              line-height: 48px;
            }

            >a {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}