<div class="panel" [loading]="loading">
  <div class="row-auto">
    <mat-toolbar class="app-background-card">
      <button mat-icon-button matTooltip="{{ 'shared.operation.back' | translate }}" (click)="close()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2 class="subject">{{ subject }}</h2>
      <button mat-icon-button matTooltip="{{ 'layouts.root.message.markas' | translate }}{{ 'layouts.root.message.unread' | translate | lowercase }}" (click)="mark(false, true)">
        <mat-icon>mail</mat-icon>
      </button>
      <button mat-icon-button matTooltip="{{ 'shared.operation.delete' | translate }}" (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar [src]="source?.avatar">
        <mat-card-title>{{ source?.name }}</mat-card-title>
        <mat-card-subtitle>{{ time | date:'yyyy-MM-dd HH:mm' }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="row-fill app-background-card">
    <p>{{ content }}</p>
  </div>
</div>