<h2 mat-dialog-title>{{ title || ('shared.dialog.edit' | translate) }}</h2>
<div mat-dialog-content>
  <mat-form-field [ngSwitch]="type">
    <mat-label [innerHTML]="text"></mat-label>
    <mat-select *ngSwitchCase="'select'" [(ngModel)]="value" [required]="required">
      <mat-option *ngFor="let item of options | keyvalue" [value]="item.key">{{ item.value }}</mat-option>
    </mat-select>
    <input *ngSwitchCase="'number'" matInput type="number" [min]="min" [max]="max" [(ngModel)]="value" [required]="required">
    <input *ngSwitchDefault matInput [type]="type" [(ngModel)]="value" [minlength]="min" [maxlength]="max" [required]="required">
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'shared.dialog.cancel' | translate | uppercase }}</button>
  <button mat-button color="primary" [disabled]="required&&!value" [mat-dialog-close]="{ submit : true, data : value }">{{ 'shared.dialog.ok' | translate | uppercase }}</button>
</div>
