<h2 mat-dialog-title>{{ (id ? 'shared.operation.edit' : 'shared.operation.add') | translate}}</h2>
<div mat-dialog-content>
  <form #form autocomplete="off" [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>{{ 'routes.basic.user.name' | translate }}</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'routes.basic.user.account' | translate }}</mat-label>
      <input matInput formControlName="account" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'routes.basic.user.role' | translate }}</mat-label>
      <mat-select formControlName="role" multiple>
        <mat-option *ngFor="let item of roles" [value]="item.id">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="primary" [disabled]="formGroup.invalid"
    (click)="save()">{{ 'shared.dialog.ok' | translate | uppercase }}</button>
  <button mat-button mat-dialog-close>{{ 'shared.dialog.cancel' | translate | uppercase }}</button>
</div>
